<div class='jumbotron'>
  <div class='container'>
    <div class='title'>
      <h1>Listless</h1>
      <p>
      The antiquated lists of yesteryear have no place in our modern world.<br/>
      Lists have long been ripe for disruption, and the world longs for a list solution that can bring their dreams to life.<br/><br/>
      Welcome to Listless, the innovative new list platform that the future deserves.
      </p>
      <br/>
      <%= link_to 'Live the dream', new_user_registration_path, class: 'btn btn-success btn-lg' %>
    </div>
  </div>
</div>
